$color-1: #0d4bf4;
$color-2: #f5f5f5;
$color-3: #3165f3;
$color-4: #4976f3;
$color-5: #698df3;

// Panel Colors

$panel-color-1: #d7e1ff;
$panel-color-2: #92c4ff;
$panel-color-3: #0fac6d;
$panel-color-4: #ffa938;
$panel-color-5: #17a2b8;
$panel-color-6: #dc3545;

.blog-page {
    max-width: 1000px;
    margin: 120px auto 100px auto;
    padding: 20px;

    .poster {
        width: 100%;
        display: block;
        height: 200px;
        margin-bottom: 30px;
    }

    .title {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .content {
        font-weight: 300;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1100px) {
    .blog-page {
        margin: 100px 0;
    }
}
