// variables
$MqSize: 1024px;
$ThemeColor: rgb(49, 101, 243);
$Transition: 500ms;

// Custom styles
.password-recovery-page {
  margin-top: 120px;
  margin-bottom: 20px;
  max-width: $MqSize;
  margin-inline: auto;
  padding-inline: 20px;
  padding: 20px;
  background-color: $ThemeColor;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.input-holder {
  width: 100%;
  border-radius: 10px;
  border: 1px solid white;
  position: relative;
}

.input-label-holder {
  position: absolute;
  top: 50%;
  left: 20px;
  padding: 0;
  transform: translateY(-50%);
  background: $ThemeColor;
  transition: $Transition;

  &[data-opened='true'] {
    padding: 0 20px;
    top: 0;
  }
}

.input-label {
  font-size: 1rem;
  color: white;
  transition: $Transition;

  &[data-opened='true'] {
    font-size: .75rem;
  }
}

.input {
  padding: 20px;
  width: 100%;
  display: block;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 1.25rem;
  color: $ThemeColor;
  width: 100%;
  padding: 20px 0;
  border-radius: 10px;
  font-weight: bold;

  &[disabled='true'] {
    opacity: 50%;
  }
}

.error-text {
  color: red;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 10px;
}

// Media querys
@media screen and (max-width: $MqSize) {
  .password-recovery-page {
    margin: 100px 20px 20px 20px;
  }
}